<!-- <mat-toolbar style="background-color: rgb(41, 8, 41);">

  <div class="nav-link-wrapper">
    <a routerLink="/home">Home</a>
  </div>
  <div class="nav-link-wrapper">
    <a href="about.html">About</a>
  </div>
  <div class="nav-link-wrapper">
    <a href="about.html">Contact Us</a>
  </div>
  <div class="nav-link-wrapper">
    <a href="about.html">Diagnose Disease</a>
  </div>
  <div class="nav-link-wrapper">
    <a routerLink="/history">History</a>
  </div>

 This fills the remaining space of the current row -->
<!-- <span class="example-spacer"></span>
  <div class="brand-class">
    <button mat-button style="border-radius: 3px; color:whitesmoke" id="btn" (click)="onClick()">Login

      <mat-icon> login</mat-icon>Register<mat-icon>how_to_reg</mat-icon>
    </button>
  </div>
</mat-toolbar>  -->

<mat-toolbar style="border:1px solid red;">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home"><img src="./assets/images/pinbrain.jpg"></a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs style="border:1px solid red;">
    <div class="nav-link-wrapper">
      <a routerLink="/about">About</a>
    </div>
    <div class="nav-link-wrapper">
      <a href="">Contact Us</a>
    </div>
    <div class="nav-link-wrapper">
      <a href="">Diagnose Disease</a>
    </div>
    <div class="nav-link-wrapper">
      <a routerLink="/history">History</a>
    </div>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs class="navigation-items" style="border:1px solid red;">
    <button mat-button style="border-radius: 3px; color:whitesmoke" id="btn" (click)="onClick()">Login

      <mat-icon> login</mat-icon>Register<mat-icon>how_to_reg</mat-icon>
    </button>
  </div>
</mat-toolbar>
