  
  footer {
    margin-top: 40px;
    background-color:rgb(41, 8, 41);
    border-top: 1px solid black;
    text-align: center;
    color: white;
    height: 300px;
    border-radius: 6px 6px 10px ;
  }
  .footer-content{
      margin: 5px;
      font-family:'Dancing Script', cursive; 
  }

.mat-icon{
    font-size: 50px;
    padding-top:40px;
}
h5{
    font-size: 17px;
    font-family:'Dancing Script', cursive; 
}
.iconify{
    font-size: 30px;
    padding-top: 40px;
    margin-top: 2px;
}
.footer-span{
    font-size: 17px;
}
