<footer class="flex-container" fxFlex="row" fxflex fxLayoutAlign="space-between none">

  <div class="footer-content">
    <mat-icon>home</mat-icon>
    <h5>Uet Lahore</h5>
    <span class="footer-span">Address</span>

  </div>
  <div class="footer-content">
    <mat-icon>email</mat-icon>
    <h5>hafsasaleemuet@gmail.com</h5>
    <span class="footer-span">Mail Us</span>

  </div>
  <div class="footer-content">
    <mat-icon>call</mat-icon>
    <h5>+92-320-4032912</h5>
    <span class="footer-span">Call Us</span>
  </div>

  <div class="footer-content">
    <div> <span class="iconify" data-icon="mdi-instagram" data-inline="false"></span>Join us on Instagram</div>
    <div> <span class="iconify" data-icon="jam:facebook-square" data-inline="false"></span> Join us on Facebook</div>
    <div> <span class="iconify" data-icon="jam:twitter-square" data-inline="false"></span> Join us on Twiiter</div>
  </div>
</footer>
