<div class="aboutpagebakgroundimage" style="background-image: url(./assets/images/aboutbrain.jpg);">
  <div class="img-text-wrapper">
    <div class="mat-display-1" style="font-size: 200px; font-family: 'Dancing Script', cursive">ABOUT</div>
  </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" style="padding-top: 20px;">
  <div fxflex.lg="30%" fxLayout.sm="column">
    <img src="./assets/images/brainkoo.jpg">

  </div>
  <div fxflex.lg="65%" style=" padding-right: 5px; padding-left: 5px;" fxLayout.sm="column">
    <h3>fMARI & MRI</h3>
    <p style="text-align: justify; color: black;">We use <b>functional magnetic
        resonance imaging
        (fMRI)</b> to take
      pictures of your
      child’s brain at work. It is similar to an MRI scan. But instead of just looking at the physical parts
      (structures) of your child’s brain, we look at the parts involved in specific activities.

      Compared to other techniques, fMRI helps us get more detailed information about your child’s condition. It is
      safer, cheaper, more efficient and more comfortable for your child than other tests that give us similar
      information.

      During an fMRI scan, we ask your child to do tasks related to movement or language. We may have your child tap
      their fingers to their thumb or say action words (verbs) that match words or pictures. Sometimes we ask children
      to do other things like wiggle their toes, do memory tasks or even think about singing. We look at where your
      child’s brain is active during specific tasks. This helps us to “map” their brain. The fMRI results also give
      information about which brain functions are affected by a brain disorder.

      We use this information to help decide if surgery is a good option for your child’s condition. If fMRI doesn’t
      provide all the information we need, we do other types of tests before choosing the best treatment. We avoid
      surgery if testing shows that critical parts of your child’s brain are too close to areas that need treatment.
      It’s one of the ways we make our patients’ lives better, not just treat their disease</p>
  </div>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" style="padding-top: 20px;">

  <div fxflex.lg="55%" style=" padding-right: 5px; padding-left: 5px;">
    <h3>About Our Team</h3>
    <p style="text-align: justify; color: black;">We use <b>functional magnetic
        resonance imaging
        (fMRI)</b> to take
      pictures of your
      child’s brain at work. It is similar to an MRI scan. But instead of just looking at the physical parts
      (structures) of your child’s brain, we look at the parts involved in specific activities.

      Compared to other techniques, fMRI helps us get more detailed information about your child’s condition. It is
      safer, cheaper, more efficient and more comfortable for your child than other tests that give us similar
      information.

      During an fMRI scan, we ask your child to do tasks related to movement or language. We may have your child tap
      their fingers to their thumb or say action words (verbs) that match words or pictures. Sometimes we ask children
      to do other things like wiggle their toes, do memory tasks or even think about singing. We look at where your
      child’s brain is active during specific tasks. This helps us to “map” their brain. The fMRI results also give
      information about which brain functions are affected by a brain disorder.

      We use this information to help decide if surgery is a good option for your child’s condition. If fMRI doesn’t
      provide all the information we need, we do other types of tests before choosing the best treatment. We avoid
      surgery if testing shows that critical parts of your child’s brain are too close to areas that need treatment.
      It’s one of the ways we make our patients’ lives better, not just treat their disease</p>
  </div>
  <div fxflex.lg="40%" fxLayout.sm="column">
    <img src="./assets/images/fm.jpg">

  </div>

</div>
