<div fxLayout="row" style="margin-top: 30px;">

  <mat-accordion fxFlex.xs="100%" fxFlex.lt-md="100%" fxFlexOffset.lg="15%" fxFlex.lg="65%">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          History
        </mat-panel-title>
        <mat-panel-description>
          This will show the history of the patient
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
        <div class="mat-title">Username</div>
        <mat-list-item>{{username}}</mat-list-item>
        <hr>
      </mat-list>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->


        <!-- ImageName Column -->
        <ng-container matColumnDef="imagename">
          <th mat-header-cell *matHeaderCellDef> Image Name </th>
          <td mat-cell *matCellDef="let element"> {{element.imagename}}</td>
        </ng-container>

        <!--CheckIn Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> CheckIn Time </th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <h4 style="text-align: center;">Images User give as an input</h4>
      <div style="padding-top: 10px;" fxLayout.lg="row" fxLayout.xs="column" fxLayoutGap="10px">
        <div>
          <img src="./assets/images/nn.jpg">
        </div>
        <div>
          <img src="./assets/images/nn.jpg">
        </div>

        <div>
          <img src="./assets/images/nn.jpg">
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
