 <!-- <div>
   <button mat-button>text</button>
   <button mat-raised-button>text</button>
   <button mat-flat-button>text</button>
   <button mat-stroked-button>text</button>
 </div>
 <br>
 <div>
   <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
     <mat-icon>home</mat-icon>
   </button>
   <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
     <mat-icon>open_in_new</mat-icon>
   </button>
   <button mat-fab>fab</button>
   <button mat-mini-fab>Mini</button>
 </div>
 <br>
 <div>
   <button color="primary" mat-button>Primary</button>
   <button color="accent" mat-button>Accent</button>
   <button color="warn" mat-button>Warn</button>
 </div>
 <div>
   <button color="primary" mat-raised-button>Primary</button>
   <button color="accent" mat-raised-button>Accent</button>
   <button color="warn" mat-raised-button>Warn</button>

 </div> -->
 <!-- This is topograpy styles in material Design-->
 <!-- <div class="mat-display-4">This is display 4 in material</div>
 <div class="mat-display-3">This is display 3 in material</div>
 <div class="mat-display-2">This is display 2 in material</div>
 <div class="mat-display-1">This is display 1 in material</div>

 <div class="mat-headline">this is heading 1</div>
 <div class="mat-title">This is heading 2</div>
 <div class="mat-subheading-2">This heading is for h3</div>
 <div class="mat-subheading-1">This is for heading h4</div>

 <div class="mat-body-1">this is body text</div>
 <div class="mat-body-2">this is bold text</div>
 <div class="mat-caption">this is caption text</div>


 <div class="mat-typograpy">
   <h1>Heading 1</h1>
   <h2>Headin 2</h2>
   <h3>Heading 3</h3>
   <h4>Heading 4</h4>
 </div> -->
 <!-- <h1 style="text-align:center;">Angular 9 Material Carousel Slider</h1>

 <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="3000" color="accent" proportion="25" slides="3"
   [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
   orientation="ltr">
   <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
     overlayColor="" [hideOverlay]="false">
     <div
       style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;color: white;"
       class="mat-display-2">
       We provide Best Results Of fMri Images For Brain Diseases.
     </div>

   </mat-carousel-slide>
 </mat-carousel>
 <app-test></app-test> -->

 <mat-sidenav-container>
   <mat-sidenav #sidenav role="navigation">
     <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
   </mat-sidenav>
   <mat-sidenav-content>
     <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
     <router-outlet></router-outlet>
     <app-footer></app-footer>
   </mat-sidenav-content>
 </mat-sidenav-container>
