

table th,td{
    border:1px solid aqua;
}

.colorclass{
    color: cornflowerblue;
}
.boldclass{
    font-weight:bolder;
}
.italicclass{
    font-style: italic;
}
mat-grid-tile {
    margin-left: 5px;
    
  }