.slider{
    margin-top: 30px;
}
.main-content{
    margin-top:50px;
    font-family: 'Dancing Script', cursive;
    color: black;

}
.card-content{
    font-family: 'Dancing Script', cursive;

}
.mat-subheading-2{
    text-align:center;
    font-family: 'Dancing Script', cursive;
    font-size:40px;
    font-weight:bolder;
    color: black;

}
.mat-body-1{

    font-family: 'Dancing Script', cursive;
    text-align:center;
    align-items:center;
    padding-top:20px;
    font-size:34px;
}
.content {
    margin-top:20px;
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}
mat-card {
    background-color:rgb(41, 8, 41) ;
}
  
/** No CSS for this example */
mat-card {
    margin-bottom: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  .mb-10{
      margin-bottom:10px;
  }
  .portfolio-item-wrapper{
    position: relative;
}
.portfolio-img-background{
 height: 350px;
 width:100%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.img-text-wrapper{
    position:absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
 
}
 .logo-wrapper img{
    width: 50%;
    margin-bottom:20px;
}
.img-text-wrapper:hover .subtitle{
    color:white;
    font-weight: bolder;
}
/*Needs to be more specific with selector*/
.img-text-wrapper .subtitle{
    font-weight: 600;
    transition: 1s;
    color: transparent;
}
.img-darken{
    transition: 1s;
    filter: brightness(10%);
}
  
  