<div class="slider">
  <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="3000" color="accent" proportion="25" slides="3"
    [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
    orientation="ltr">
    <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
      overlayColor="#00000040" [hideOverlay]="false">
      <div
        style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;color: white;"
        class="mat-display-2">
        We provide Best Results Of fMri Images For Brain Diseases.
      </div>
    </mat-carousel-slide>
  </mat-carousel>
</div>
<div class="main-content" style="border:1px solid red;">
  <div class="card-content" class="mat-subheading-2">
    Information About Our Work
    <div class="mat-body-1">"We are passionate to provide the services<br><br> related to diagonosing the brain diseases
      using fMRI Images"</div>

  </div>
</div>

<!-- <div class="content">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="25%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mountains</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/nn.jpg">
        <mat-card-content>
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div fxFlex="25%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mountains</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/nn.jpg">
        <mat-card-content>
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div fxFlex="25%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mountains</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/nn.jpg">
        <mat-card-content>
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div fxFlex="25%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mountains</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/nn.jpg">
        <mat-card-content>
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>

</div> -->
<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10" style="border:1px solid red;">
  <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
    <mat-card-title>fMri Image</mat-card-title>
    <img mat-card-image src="./assets/images/nn.jpg" class="image">
    <mat-card-content>Functional Magnetic Resonance Imaging Technology which is used to detect the brain diseases.User
      Uses the MRI and fMRI report in our website to diagnose the defects in the brain.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
    <mat-card-title>Alzeimer's Disease</mat-card-title>
    <img mat-card-image src="./assets/images/al.jpg" class="image">
    <mat-card-content>The major disease we cover is Alzeimer's disease which comes due to the long-term or short-term
      memory loss.
    </mat-card-content>
    <mat-card-actions><button mat-button>LIKE</button>
      <button mat-button>SHARE</button></mat-card-actions>
  </mat-card>

  <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
    <mat-card-title>Algorithms</mat-card-title>
    <img mat-card-image src="./assets/images/algo.jpg" class="image">
    <mat-card-content>Our Algorithms will work inside of it to detect the disease in your brain.When you upload the fMRI
      or Mri report in our website.</mat-card-content>
    <mat-card-actions><button mat-button>LIKE</button>
      <button mat-button>SHARE</button></mat-card-actions>
  </mat-card>

  <mat-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
    <mat-card-title>Report Generate</mat-card-title>
    <img mat-card-image src="./assets/images/repo.png" class="image">
    <mat-card-content>At the end when you upload the images after diadnosing the disease you may have.The report will be
      generated and also show the defected parts of the brain.</mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button></mat-card-actions>
  </mat-card>
</div>
<div class="mat-subheading-2" style="margin-top: 30px; text-align: center;">
  <h2>Here are the sample work </h2>
</div>

<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">

  <div class="portfolio-item-wrapper" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(25%-10px)">
    <div class="portfolio-img-background" style="background-image:url(./assets/images/a.jpg)"></div>
    <div class="img-text-wrapper">
      <div class="subtitle">Coding bootcamp and learning management system.</div>
    </div>
  </div>
  <div class="portfolio-item-wrapper" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(25%-10px)">
    <div class="portfolio-img-background" style="background-image:url(./assets/images/a.jpg)"></div>
    <div class="img-text-wrapper">
      <div class="subtitle">Coding bootcamp and learning management system.</div>
    </div>
  </div>
  <div class="portfolio-item-wrapper" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(25%-10px)">
    <div class="portfolio-img-background" style="background-image:url(./assets/images/a.jpg)"></div>
    <div class="img-text-wrapper">
      <div class="subtitle">Coding bootcamp and learning management system.</div>
    </div>
  </div>
  <div class="portfolio-item-wrapper" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)"
    fxFlex.gt-md="0 1 calc(25%-10px)">
    <div class="portfolio-img-background" style="background-image:url(./assets/images/a.jpg)"></div>
    <div class="img-text-wrapper">
      <div class="subtitle">Coding bootcamp and learning management system.</div>
    </div>
  </div>
</div>
